python-dotenv
openai
weaviate-client
sentence-transformers
pandas
pyyaml
langchain
langchain-community
langchain-huggingface
huggingface-hub
transformers
torch
accelerate
peft
trl
tqdm
datasets
jupyter
notebook
